In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("train.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [4]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
df_tmp=df.copy()
df_tmp.shape, df.shape

((614, 13), (614, 13))

In [6]:
df_tmp["Loan_Stats"]=[1 if x=='Y' else 0 for x in df_tmp["Loan_Status"]]

In [7]:
df_tmp.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Loan_Stats
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y,1
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,1
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,1

In [8]:
df_tmp=df_tmp.drop("Loan_Status", axis=1)

In [9]:
df_tmp.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Stats
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,1
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1

In [10]:
np.random.seed(10)
from sklearn.model_selection import train_test_split as tts
x=df_tmp.drop("Loan_Stats", axis=1)
y=df_tmp["Loan_Stats"]
x_train, x_valid, y_train, y_valid=tts(x,y,test_size=0.2, stratify=y)

In [11]:
for label, content in x_train.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            x_train[label+ "_is_missing"]=pd.isnull(content)
            x_train[label]=content.fillna(content.median())

C:\Users\Maroju\anaconda3\envs\mytfenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Maroju\anaconda3\envs\mytfenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [12]:
x_train.isna().sum()

Loan_ID                         0
Gender                          9
Married                         3
Dependents                     12
Education                       0
Self_Employed                  28
ApplicantIncome                 0
CoapplicantIncome               0
LoanAmount                      0
Loan_Amount_Term                0
Credit_History                  0
Property_Area                   0
LoanAmount_is_missing           0
Loan_Amount_Term_is_missing     0
Credit_History_is_missing       0
dtype: int64

In [13]:
for label,content in x_train.items():
    if not pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            x_train[label+"_is_missing"]=pd.isnull(content)
            x_train[label]=pd.Categorical(content).codes+1

C:\Users\Maroju\anaconda3\envs\mytfenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Maroju\anaconda3\envs\mytfenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [14]:
x_train.isna().sum()

Loan_ID                        0
Gender                         0
Married                        0
Dependents                     0
Education                      0
Self_Employed                  0
ApplicantIncome                0
CoapplicantIncome              0
LoanAmount                     0
Loan_Amount_Term               0
Credit_History                 0
Property_Area                  0
LoanAmount_is_missing          0
Loan_Amount_Term_is_missing    0
Credit_History_is_missing      0
Gender_is_missing              0
Married_is_missing             0
Dependents_is_missing          0
Self_Employed_is_missing       0
dtype: int64

In [15]:
x_train.dtypes

Loan_ID                         object
Gender                            int8
Married                           int8
Dependents                        int8
Education                       object
Self_Employed                     int8
ApplicantIncome                  int64
CoapplicantIncome              float64
LoanAmount                     float64
Loan_Amount_Term               float64
Credit_History                 float64
Property_Area                   object
LoanAmount_is_missing             bool
Loan_Amount_Term_is_missing       bool
Credit_History_is_missing         bool
Gender_is_missing                 bool
Married_is_missing                bool
Dependents_is_missing             bool
Self_Employed_is_missing          bool
dtype: object

In [16]:
y_train.head()

164    1
171    1
546    0
226    0
176    1
Name: Loan_Stats, dtype: int64

In [17]:
y_train.dtypes

dtype('int64')

In [18]:
for label, content in x_valid.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            x_valid[label+ "_is_missing"]=pd.isnull(content)
            x_valid[label]=content.fillna(content.median())
    if not pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            x_valid[label+"_is_missing"]=pd.isnull(content)
            x_valid[label]=pd.Categorical(content).codes+1

C:\Users\Maroju\anaconda3\envs\mytfenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Maroju\anaconda3\envs\mytfenv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Maroju\anaconda3\envs\mytfenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Maroju\anaconda3\envs\mytfenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [19]:
for label, content in x_train.items():
    if not pd.api.types.is_numeric_dtype(content):
        x_train[label]=pd.Categorical(content).codes+1

C:\Users\Maroju\anaconda3\envs\mytfenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
for label, content in x_valid.items():
    if not pd.api.types.is_numeric_dtype(content):
        x_valid[label]=pd.Categorical(content).codes+1

C:\Users\Maroju\anaconda3\envs\mytfenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
x_train.dtypes

Loan_ID                          int16
Gender                            int8
Married                           int8
Dependents                        int8
Education                         int8
Self_Employed                     int8
ApplicantIncome                  int64
CoapplicantIncome              float64
LoanAmount                     float64
Loan_Amount_Term               float64
Credit_History                 float64
Property_Area                     int8
LoanAmount_is_missing             bool
Loan_Amount_Term_is_missing       bool
Credit_History_is_missing         bool
Gender_is_missing                 bool
Married_is_missing                bool
Dependents_is_missing             bool
Self_Employed_is_missing          bool
dtype: object

In [22]:
x_train["Gender"].value_counts()

2    389
1     93
0      9
Name: Gender, dtype: int64

In [23]:
x_train["Married"].value_counts()

2    316
1    172
0      3
Name: Married, dtype: int64

In [24]:
x_train["Dependents"].value_counts()

1    283
3     82
2     73
4     41
0     12
Name: Dependents, dtype: int64

In [25]:
x_train["Married_is_missing"].value_counts()

False    488
True       3
Name: Married_is_missing, dtype: int64

In [24]:
set(x_train.columns) - set(x_valid.columns)

{'Married_is_missing'}

In [25]:
x_valid["Married_is_missing"]=False

C:\Users\Maroju\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.linear_model import LogisticRegression as lr
from sklearn.tree import DecisionTreeClassifier

In [27]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.svm import LinearSVC

In [28]:
scaler1 = MinMaxScaler()
scaledtrain1_x = scaler1.fit_transform(x_train)
scaledvalid1_x = scaler1.fit_transform(x_valid)
scaler2 = StandardScaler()
scaledtrain2_x = scaler2.fit_transform(x_train)
scaledvalid2_x = scaler2.fit_transform(x_valid)

In [29]:
models1={"RandoomForest" : RandomForestClassifier(),
         "AdaBoost"      : AdaBoostClassifier(),
         "GradientBoost" : GradientBoostingClassifier(),
         "LinearSVC"     : LinearSVC(),
         }
models2={"KNN"    : knn()}
models3={"LogReg" : lr()}
models4={"DT"     : DecisionTreeClassifier()}

In [30]:
def fit_and_score(models, x_train, x_test, y_train, y_test):
    np.random.seed(10)
    model_scores={}
    for name, model in models.items():
        model.fit(x_train, y_train)
        model_scores[name]=model.score(x_test, y_test)
    return model_scores

In [31]:
model=RandomForestClassifier()
model.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [32]:
models_score=fit_and_score(models=models1, x_train=x_train, y_train=y_train, x_test=x_valid, y_test=y_valid)

C:\Users\Maroju\anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [33]:
models_score

{'RandoomForest': 0.7723577235772358,
 'AdaBoost': 0.7804878048780488,
 'GradientBoost': 0.7804878048780488,
 'LinearSVC': 0.6910569105691057}

In [34]:
models_score1=fit_and_score(models=models2, x_train=scaledtrain1_x, y_train=y_train, x_test=scaledvalid1_x, y_test=y_valid)
models_score2=fit_and_score(models=models3, x_train=scaledtrain2_x, y_train=y_train, x_test=scaledvalid2_x, y_test=y_valid)

In [35]:
models_score1

{'KNN': 0.8130081300813008}

In [36]:
models_score2

{'LogReg': 0.7967479674796748}

In [37]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

In [38]:
RandomForestClassifier().get_params

<bound method BaseEstimator.get_params of RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)>

In [39]:
rf_grid={"n_estimators"      : np.arange(10,200,10),
         "max_features"      : [0.5,1,"sqrt","auto","log2"],
         "n_estimators"      : [10,100,200,500,1000,1500,2000],
         "max_depth"         : [None,3,5,10,20,30],
         "min_samples_split" : [2,5,10,15,20],
         "min_samples_leaf"  : [1,2,5,10,15],
         "bootstrap"         : [True,False],
         }
rf_model=RandomizedSearchCV(RandomForestClassifier(n_jobs=-1, random_state=10),
                                                   param_distributions=rf_grid,
                                                   n_iter=200,
                                                   cv=5,
                                                   verbose=True)

In [40]:
rf_model.fit(x_train,y_train)

Fitting 5 folds for each of 200 candidates, totalling 1000 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed: 33.2min finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=100, n_jobs...
                   iid='deprecated', n_iter=200, n_jobs=None,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [None, 3, 5, 10, 20, 30],
                                        'max_features': [0.5, 1, 'sqrt', 'auto',
                                                         'log2'],
                                        'min_samples_leaf': [1, 2, 5, 10, 15],
                                        'min_samples_split': [2, 5, 10, 15, 20],
                                        'n_estimators': [10, 100, 200, 500,
                                                         1000, 1500, 2000]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=True)

In [41]:
rf_model.best_params_

{'n_estimators': 1500,
 'min_samples_split': 2,
 'min_samples_leaf': 2,
 'max_features': 0.5,
 'max_depth': 5,
 'bootstrap': True}

In [42]:
rf_model.score(x_valid,y_valid)

0.8130081300813008

In [43]:
from sklearn.tree import DecisionTreeClassifier
models5={"DT" : DecisionTreeClassifier()}
models_score3=fit_and_score(models=models5, x_train=x_train, y_train=y_train, x_test=x_valid, y_test=y_valid)
models_score3

{'DT': 0.7804878048780488}

In [44]:
models_score2=fit_and_score(models=models3, x_train=scaledtrain1_x, y_train=y_train, x_test=scaledvalid1_x, y_test=y_valid)
models_score2

{'LogReg': 0.8048780487804879}

In [45]:
lr().get_params

<bound method BaseEstimator.get_params of LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)>

In [46]:
lr_grid={ "solver" : ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],
          "penalty": ['none', 'l1', 'l2', 'elasticnet'],
          "C"      : [100, 10, 1.0, 0.1, 0.01]} 
lr_model= GridSearchCV(lr(random_state=10), param_grid=lr_grid, n_jobs=-1, cv=5)

In [47]:
lr_model.fit(scaledtrain1_x, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='auto',
                                          n_jobs=None, penalty='l2',
                                          random_state=10, solver='lbfgs',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'C': [100, 10, 1.0, 0.1, 0.01],
                         'penalty': ['none', 'l1', 'l2', 'elasticnet'],
                         'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag',
                                    'saga']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [48]:
lr_model.score(scaledvalid1_x, y_valid)

0.8130081300813008

In [49]:
df_test=pd.read_csv("test.csv")

In [50]:
df_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [51]:
df_testcopy=df_test.copy()

In [52]:
df_test.isna().sum()

In [53]:
for label, content in df_testcopy.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            df_testcopy[label+ "_is_missing"]=pd.isnull(content)
            df_testcopy[label]=content.fillna(content.median())

In [54]:
for label,content in df_testcopy.items():
    if not pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            df_testcopy[label+"_is_missing"]=pd.isnull(content)
            df_testcopy[label]=pd.Categorical(content).codes+1

In [55]:
set(x_train.columns) - set(df_testcopy.columns)

In [56]:
df_testcopy.head()

In [57]:
df_testcopy["Married_is_missing"]=False

In [58]:
for label, content in df_testcopy.items():
    if not pd.api.types.is_numeric_dtype(content):
        df_testcopy[label]=pd.Categorical(content).codes+1

In [59]:
scaledtest1 = scaler1.fit_transform(df_testcopy)

In [60]:
preds=lr_model.predict(scaledtest1)

In [61]:
df_preds=pd.DataFrame()
df_preds["Loan_ID"]=df_testcopy["Loan_ID"]
df_preds["Loan_stats"]=preds
df_preds

In [62]:
df_preds["Loan_Status"]=['Y' if x==1 else 'N' for x in df_preds["Loan_stats"]]
df_preds

In [70]:
pd.set_option('display.max_rows', 400)
df_preds

In [64]:
df_preds=df_preds.drop("Loan_stats", axis=1)

In [65]:
df_preds

In [66]:
z=pd.DataFrame()
z["Loan_ID"]=df_test["Loan_ID"]
z["Loan_Status"]=df_preds["Loan_Status"]
z

In [67]:
z.to_csv("LogReg_0.2.csv", index= False)

In [68]:
predictions=pd.read_csv("LogReg_0.2.csv")
predictions.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           Y
4  LP001051           Y